       body {
                font-family: arial; 
                background-color: rgb(29, 28, 28);
                color: white;
            }
            .heading{
                font-weight: bold;
                font-size: 30px;
            }
            .rock-image{
                width: 50px;
                height: 50px;
            }
            .move-icon{
                border: solid;
                border-color: white;
                border-width: 3px;
                border-radius: 100px;
                width: 100px;
                height: 100px;
                background-color: rgb(29, 28, 28);
                margin: 10px;
                color: white;
                
                cursor: pointer;
            }
            .js-result{
                font-weight: bold;
                font-size: 25px;
                margin-left: 150px;
            }
            .move-pick{
                 width: 50px;
                height: 50px;
            }
            .reset-button
            .auto-play-button{
                background-color: white;
                border: solid;
                padding: 15px;
                font-size: 15px;
                cursor: pointer;
            }
           